body {
    font-family: sans-serif;
}

#auth-status {
    text-align: right;
    padding: 10px;
}

#network-status {
    background-color: #f00;
    color: white;
    padding: 5px;
    text-align: center;
    display: none;
}

#network-status.online {
    background-color: #0f0;
}

#logout-button{
    margin-top: 10px;
}